@model DispatchService.Models.RequestViewModel

@{
    ViewBag.Title = "Новая заявки";
}

<link href='@Url.Content("~/Content/themes/base/jquery-ui.css")' rel="stylesheet" type="text/css" />
<script src='@Url.Content("~/Scripts/jquery-ui-1.13.1.min.js")' type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("input.input-box").each(function () {
            var $obj = $(this);
            $obj.autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("AutocompleteSearch", "Request")',
                        dataType: "json",
                        data: {
                            prefix: $obj.val(),
                            element_id: $obj.attr('id'),
                            divisionName: "",
                            streetName: $("#street").val(),
                            houseNumber: $("#house").val()
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { value: item.name, label: item.name };
                            }));
                        },
                        error: function () {
                            alert('error');
                        }
                    })
                },
                minLength: 0
            });

            $obj.click(function () {
                $obj.autocomplete("search", "")[0].focus();
            });
        });
    })
</script>
@*<script>
    $.datepicker.regional['ru'] = {
        closeText: 'Закрыть',
        prevText: 'Предыдущий',
        nextText: 'Следующий',
        currentText: 'Сегодня',
        monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        monthNamesShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
        dayNames: ['воскресенье', 'понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота'],
        dayNamesShort: ['вск', 'пнд', 'втр', 'срд', 'чтв', 'птн', 'сбт'],
        dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
        weekHeader: 'Не',
        dateFormat: 'dd.mm.yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['ru']);

    $(function () {
        $("#datepicker").datepicker();
    })
</script>*@

<main>
    <div class="main-wrapper">
        <div class="request-page create-request-page">
            <button class="back-button" style="position: relative; margin-bottom: 20px; min-width: 124px;" onclick="location.href='@Url.Action("Main", "Request")';">Назад</button>
            @using (Html.BeginForm("CreateRequest", "Request", FormMethod.Post))
            {
                <h1 class="request-title" style="margin-bottom: 22px;">Новая заявка</h1>
                <h2 class="request-subtitle" style="margin-bottom: 7px;">Адрес</h2>
                <p style="color: red; font-weight: bold; font-size: 20px; margin-bottom: 3px;">@ViewBag.Message</p>
                <div class="create-address-box">
                    <div>
                        <p class="box-title">Улица</p>
                        <input type="text" id="street" name="street" class="input-box" style="width: 258px;" value="@Model.street">
                    </div>
                    <div>
                        <p class="box-title">Дом</p>
                        <input type="text" id="house" name="house" class="input-box" style="width: 113px;" value="@Model.house">
                    </div>
                    <div>
                        <p class="box-title">Квартира</p>
                        <input type="text" id="flat" name="flat" class="input-box" style="width: 113px;" value="@Model.flat">
                    </div>
                </div>
                <div class="types-box">
                    <div>
                        <p class="box-title"><b>Категория</b></p>
                        <select id="category" name="category" class="input-box" style="width: 221px; margin-right: 17px;">
                            @{
                                foreach (var item in ViewBag.Categories)
                                {
                                    if (item.category_name == Model.category)
                                    {
                                        <option selected value="@item.category_id">@item.category_name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.category_id">@item.category_name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div>
                        <p class="box-title"><b>Тип заявки</b></p>
                        <select id="type" name="type" class="input-box" style="width: 150px;">
                            @{
                                foreach (var item in ViewBag.Types)
                                {
                                    if (item.type_name == Model.type)
                                    {
                                        <option selected value="@item.type_id">@item.type_name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.type_id">@item.type_name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <div>
                    <p class="box-title"><b>Описание</b></p>
                    <textarea name="description" id="description" cols="30" rows="5" class="input-box create-desc-box">@Model.description</textarea>
                </div>
                <div style="margin-bottom: 20px;">
                    <p class="box-title"><b>Срок выполнения (дн.)</b></p>
                    <input type="number" name="days" class="input-box" style="width: 121px;" id="days" value="@Model.due_date_days" min="1">
                </div>
                <div style="margin-bottom: 10px;">
                    <p class="box-title"><b>Комментарий</b></p>
                    <textarea name="comment" id="comment" cols="30" rows="5" class="input-box create-desc-box" style="min-height: 90px;">@Model.comment</textarea>
                </div>
                <button type="submit" class="create-req-button">Создать</button>
            }
        </div>
    </div>
</main>
